    header {
        height: 50px;
        width: 100%;
        background-color: blue;
        text-align: center;
        color: rgb(255, 255, 255);
        font-size: medium;
    }
    footer {
        height: 100px;
        width: 100%;
        text-align: center;
        background-color: aqua;
        color: black;
        font-size: medium;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
    }