    header {
        height: 40px;
        width: 100%;
        background-color: blue;
        text-align: center;
        color: rgb(255, 255, 255);
        font-size: medium;
    }
    footer {
        height: 100px;
        width: 100%;
        text-align: center;
        background-color: blue;
        color: rgb(255, 255, 255);
        font-size: medium;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    main{
   height: 800px;
  text-align: center;
  margin-top: 40px;
    }

    h2,body,html{
      margin: 0px;
    }